[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.6.0"
django = "*"
python-decouple = "==3.8"
sqlparse = "==0.4.3"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
