<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Niramit&family=Titan+One&display=swap" rel="stylesheet">
        <style>
            /* make external css file?? */
            body {background-color: beige;}
            /* customize fonts */
            h1   {color: black; font-family: 'Great Vibes', cursive; font-size: 64px}
            p    {color: black; font-size: 24px}
        </style>
    </head>

    <body>
        <h1>{{spell_desc.name}}</h1>
        <p>{{spell_desc.description}}</p>
    </body>
</html>