<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almendra+SC&family=BIZ+UDPMincho&display=swap" rel="stylesheet">
        <style>
            /* make external css file?? */
            body {background-color: #0b1808;}
            /* customize fonts */
            h1   {color: #d9d9d9; font-family: 'Almendra SC', serif; font-size: 77px}
            p    {color: #6a0213; font-family: 'BIZ UDPMincho', serif; font-size: 27px}
        </style>
    </head>

    <body>
        <h1>{{spell_desc.name}}</h1>
        <p>{{spell_desc.description}}</p>
    </body>
</html>